/* .logo {} */

.logo img {
    width: 164px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Segoe UI";
}

.right ul {
    display: flex;
    gap: 34px;
}

.right ul li {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.right ul li span {
    padding: 0 5px;
}

.first {
    display: flex;
    /* background-color: aquamarine; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin: 70px;
    font-family: sans-serif;
}

.first span {
    font-size: 40px;
}

section span img {
    margin: 0 23px;
    width: 82px;
}

.first p {
    font-size: 20px;
    width: 53vw;
    text-align: center;
}

.btn {
    background: #00b6d1;
    padding: 14px 16px;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    margin: 12px 0;
    cursor: pointer;
}
.btn a{
    text-decoration: none;
    color: white;
}
/* .btn small {} */

.green {
    background-color: #5cb85c;
}

.small {
    font-size: 12px;
}


.second {
    max-width: 65vw;
    margin: auto;
}

.item {
    padding: 16px;
    background: #f9f9f9;
    font-size: 20px;
    text-align: center;
}

.item-lang {
    text-align: center;
    font-weight: 700;
    padding-bottom: 36px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.download :nth-child(2){
      font-size: 23px;
}

.download img{
    padding: 0 10px;
    padding-left: 0px;
}

.download{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: sans-serif;
    margin: 10px 0;
}

@media screen and (max-width:1145px) {
    .grid{
        grid-template-columns: 1fr;
    }
}